<nb-card>
    <nb-card-header>Parámetros</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <label style="font-weight: bold;">Fecha inicio:</label>
                <div class="card">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="startDate" ngbDatepicker
                            #d1="ngbDatepicker" readonly="readonly" container="body"
                            (ngModelChange)="listSalesByDate(searchText)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                <nb-icon icon="calendar-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label style="font-weight: bold;">Fecha fin:</label>
                <div class="card">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="endDate" ngbDatepicker
                            #d2="ngbDatepicker" readonly="readonly" container="body"
                            (ngModelChange)="listSalesByDate(searchText)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                <nb-icon icon="calendar-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <input [hidden]="sales.length == 0 && searchIsEmpty == true" type="text" #searchRef
                    class="form-control mb-3" placeholder="Buscar venta">
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <span class="title">Lista de Ventas</span>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="sales.length == 0 && searchIsEmpty" class="alert alert-primary text-center" role="alert">
            <strong>No existen ventas registradas.</strong>
        </div>
        <div *ngIf="sales.length == 0 && !searchIsEmpty" class="alert alert-primary text-center" role="alert">
            <strong>La busqueda no encontró resultados.</strong>
        </div>
        <div *ngIf="sales.length != 0">
            <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [gridOptions]="gridOptions"
                [columnDefs]="columnDefs" [rowData]="sales" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
        </div>
    </nb-card-body>
</nb-card>