<nb-card>
    <nb-card-header>
        <span>Lista de Clientes</span>
        <button type="button" class="btn btn-primary float-right" routerLink="/clients/add-client">Agregar</button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <input [hidden]="clients.length == 0 && searchIsEmpty == true" type="text" #searchRef
                    class="form-control mb-3" placeholder="Buscar Cliente">
            </div>
        </div>
        <div *ngIf="clients.length == 0 && searchIsEmpty" class="alert alert-primary text-center" role="alert">
            <strong>No existen clientes registrados.</strong>
        </div>
        <div *ngIf="clients.length == 0 && !searchIsEmpty" class="alert alert-primary text-center" role="alert">
            <strong>La busqueda no encontró resultados.</strong>
        </div>
        <ag-grid-angular *ngIf="clients.length > 0" style="width: 100%; height: 100%;" class="ag-theme-alpine"
            [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="clients"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </nb-card-body>
</nb-card>