<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pagos</h4>
</div>
<div class="modal-body">
    <div *ngIf="payments.length == 0" class="alert alert-primary text-center mb-0" role="alert">
        No existen pagos registrados.
    </div>
    <ag-grid-angular *ngIf="payments.length != 0" style="width: 100%; height: 100%;" class="ag-theme-alpine"
        [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="payments"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cerrar</button>
</div>