<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>{{textHeader}}</nb-card-header>
            <nb-card-body>
                <form [formGroup]="clientEditorForm" (ngSubmit)="addClient()">
                    <label class="font-italic mb-3">Los campos marcados con * son obligatorios.</label>
                    <div class="form-group">
                        <label><strong>Nombre*</strong></label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert text-danger">
                            <div *ngIf="name.errors.required">
                                El nombre del cliente es requerido.
                            </div>
                            <div *ngIf="name.errors.maxlength">
                                El nombre debe tener máximo 100 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><strong>Dirección</strong></label>
                        <input type="text" class="form-control" placeholder="Dirección" formControlName="address">
                        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert text-danger">
                            <div *ngIf="address.errors.maxlength">
                                El nombre debe tener máximo 500 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label><strong>Email</strong></label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email"
                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert text-danger">
                                    <div *ngIf="email.errors.email">
                                        Dirección de correo electrónico no válida.
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        El email es invalido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><strong>Celular</strong></label>
                                <input type="text" class="form-control" placeholder="Celular"
                                    formControlName="cell-phone">
                                <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="cellphone.errors.maxlength">
                                        El celular debe tener máximo 50 caracteres.
                                    </div>
                                    <div *ngIf="cellphone.errors.minlength">
                                        El celular debe tener al menos 5 caracteres.
                                    </div>
                                    <div *ngIf="cellphone.errors.pattern">
                                        El numero de celular es invalido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><strong>Teléfono Fijo</strong></label>
                                <input type="text" class="form-control" placeholder="Teléfono Fijo"
                                    formControlName="land-line">
                                <div *ngIf="landline.invalid && (landline.dirty || landline.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="landline.errors.maxlength">
                                        El teléfono debe tener máximo 50 caracteres.
                                    </div>
                                    <div *ngIf="landline.errors.minlength">
                                        El teléfono debe tener al menos 5 caracteres.
                                    </div>
                                    <div *ngIf="landline.errors.pattern">
                                        El numero de telefono es invalido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><strong>Razón social</strong></label>
                        <input type="text" class="form-control" placeholder="Razón social"
                            formControlName="businessName">
                        <div *ngIf="businessName.invalid && (businessName.dirty || businessName.touched)"
                            class="alert text-danger">
                            <div *ngIf="businessName.errors.maxlength">
                                La razón social debe tener máximo 200 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><strong>NIT</strong></label>
                                <input type="text" class="form-control" placeholder="NIT" formControlName="nit">
                                <div *ngIf="nit.invalid && (nit.dirty || nit.touched)" class="alert text-danger">
                                    <div *ngIf="nit.errors.pattern">
                                        Solo se aceptan números.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label><strong>Descripción</strong></label>
                        <textarea class="form-control" placeholder="Descripción"
                            formControlName="description"></textarea>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="alert text-danger">
                            <div *ngIf="description.errors.maxlength">
                                La descripción debe tener máximo 500 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)"
                            [streetViewControl]="false" [styles]="styles">
                            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                                (dragEnd)="markerDragEnd($event)">
                            </agm-marker>
                        </agm-map>
                    </div>
                    <button type="submit" [disabled]="!clientEditorForm.valid" class="btn btn-primary">
                        {{textButtom}}
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>