<nb-card>
    <nb-card-header>
        <span class="title">Lista de Gastos</span>
        <button type="button" class="btn btn-primary float-right" routerLink="/expenses/add-expense">Agregar</button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <input [hidden]="expenses.length == 0 && searchIsEmpty == true" type="text" #searchRef
                    class="form-control mb-3" placeholder="Buscar producto">
            </div>
        </div>
        <div *ngIf="expenses.length == 0" class="alert alert-primary text-center" role="alert">
            <strong>No existen gastos registrados.</strong>
        </div>
        <ag-grid-angular *ngIf="expenses.length > 0" style="width: 100%; height: 100%;" class="ag-theme-alpine"
            [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="expenses">
        </ag-grid-angular>
    </nb-card-body>
</nb-card>