<div class="row">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>
                <span>Agregar Crédito</span>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="creditEditorForm" (ngSubmit)="creditEditor()">
                    <label class="font-italic mb-3">Los campos marcados con * son obligatorios.</label>
                    <div class="form-group">
                        <app-search-client (client)="selectClient($event)" [isFromSale]="isFromSale">
                        </app-search-client>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Monto*</strong></label>
                                <input type="text" class="form-control" placeholder="Monto"
                                    formControlName="totalAmount">
                                <div *ngIf="totalAmount.invalid && (totalAmount.dirty || totalAmount.touched)"
                                    class="alert text-danger">
                                    <div *ngIf="totalAmount.errors.required">
                                        El monto es requerido.
                                    </div>
                                    <div *ngIf="totalAmount.errors.pattern">
                                        Solo se aceptan números.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Fecha</strong></label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd-mm-yyyy" formControlName="creditDate"
                                        ngbDatepicker #d="ngbDatepicker" readonly="readonly" container="body">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                            <nb-icon icon="calendar-outline"></nb-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="!creditEditorForm.valid || selectedClient == null"
                        class="btn btn-primary"><span>Registrar</span>
                    </button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>