<nb-card>
    <nb-card-header>Parámetros</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <label style="font-weight: bold;">Fecha inicio:</label>
                <div class="card">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="start" ngbDatepicker
                            #d1="ngbDatepicker" readonly="readonly" container="body">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                <nb-icon icon="calendar-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label style="font-weight: bold;">Fecha fin:</label>
                <div class="card">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="end" ngbDatepicker
                            #d2="ngbDatepicker" readonly="readonly" container="body">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                                <nb-icon icon="calendar-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <div class="pt-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary" [disabled]="start==null || end==null"
                        (click)="getExcel()">Generar Excel</button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>