<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Stock Origen</nb-card-header>
            <nb-card-body>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <select *ngIf="locations.length != 0" [(ngModel)]="locationIdOne" class="form-control"
                            (change)="getStocksByLocation(true)">
                            <option *ngFor="let location of locations" [value]="location.id">
                                {{location.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <app-stock-origin [originStockList]="originStockList" (stockOriginSelected)="selectStock($event)">
                </app-stock-origin>
                <div *ngIf="originStockList.length != 0 && locationIdOne != locationIdTwo" class="row mt-3">
                    <div class="col-md-6">
                        <label><strong>Cantidad a transferir: </strong></label>
                        <input type="number" class="form-control" [(ngModel)]="quantityTransfer" />
                    </div>
                    <div class="col-md-3 align-self-end">
                        <button
                            [disabled]="selectedStock.quantity == 0 || quantityTransfer <= 0 || selectedStock.id == null"
                            class="btn btn-primary" (click)="transferStock()">Transferir</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Stock Destinado</nb-card-header>
            <nb-card-body>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <select *ngIf="locations.length != 0" [(ngModel)]="locationIdTwo" class="form-control"
                            (change)="getStocksByLocation(false)">
                            <option *ngFor="let location of locations" [value]="location.id">
                                {{location.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <app-destination-stock [targetStockList]="targetStockList"></app-destination-stock>
            </nb-card-body>
        </nb-card>
    </div>
</div>