<div class="row">
    <div class="col-md-8">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-4 mb-1">Detalle de Venta</div>
                    <div class="col-md-4 mb-1">
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                            class="btn btn-primary float-right" (click)="addSale()">Registrar venta</button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label style="font-weight: bold;">Código de venta</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{saleCode.code}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label style="font-weight: bold;">Fecha de venta</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="saleDate" ngbDatepicker
                                #d="ngbDatepicker" readonly="readonly" container="body" (ngModelChange)="getSaleCode()">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <nb-icon icon="calendar-outline"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <app-sale-detail-table [reloadSaleDetail]="reloadSaleDetail.asObservable()"
                        [saleDetails]="saleDetails" [totalCost]="totalCost" (saleDetailToEdit)="editSaleDetail($event)"
                        (saleDetailToDelete)="removeSaleDetail($event)">
                    </app-sale-detail-table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<nb-card>
    <nb-card-body>
        <input [hidden]="(stocks.length == 0 && searchProductsIsEmpty == true) || activeId != 1" type="text"
            #searchProduct class="form-control col-md-3 my-3 ml-2" placeholder="Buscar producto">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" [destroyOnHide]="false" class="nav-tabs mb-3">
            <li [ngbNavItem]=" 1">
                <a ngbNavLink>Productos</a>
                <ng-template ngbNavContent>
                    <div *ngIf="stocks.length == 0 && searchProductsIsEmpty == false"
                        class="alert alert-primary text-center mb-0" role="alert">
                        <strong>La búsqueda no generó resultados.</strong>
                    </div>
                    <div *ngIf="stocks.length == 0 && searchProductsIsEmpty == true && locationId != 0"
                        class="alert alert-primary text-center mb-0" role="alert">
                        <strong>No existe de productos en esta ubicación.</strong>
                    </div>
                    <div *ngIf="stocks.length == 0 && searchProductsIsEmpty == true && locationId == 0"
                        class="alert alert-primary text-center mb-0" role="alert">
                        <strong>No existe stock de productos.</strong>
                    </div>
                    <div
                        *ngIf="stocks.length != 0">
                        <div *ngFor="let category of productsGroupedByCategory" class="py-3">
                            <h2 *ngIf="category.name != 'undefined'" class="mb-2 mt-3">
                                <strong>{{category.name}}</strong>
                            </h2>
                            <h2 *ngIf="category.name == 'undefined'" class="mb-2 mt-3"><strong>Otros</strong></h2>
                            <div class="row">
                                <div *ngFor="let stock of category.value" class="col-md-3 my-3 ml-2">
                                    <div class="card card-style mb-2" (click)="addProductToSaleDetail(stock)">
                                        <img class="card-img-top"
                                            [src]="stock.product.imageUrl ? stock.product.imageUrl : '/assets/images/not-found.png'"
                                            onerror="this.src='/assets/images/not-found.png'" alt="Not Found!">
                                        <div class="card-body">
                                            <h5 class="card-title">{{stock.product.name}}</h5>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item" style="border: none;"
                                                *ngIf="stock.product.code != ''">
                                                Còdigo: {{stock.product.code}}<br>
                                                Ubicación: {{stock.location.name}}<br>
                                                Precio: {{stock.product.price | number : '1.2-2'}}
                                                Bs<br>
                                                Cantidad: {{stock.quantity}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <app-stock-table [stocks]="stocks"
                            (selectedStock)="addProductToSaleDetail($event)"
                            [reloadProducts]="reloadProducts.asObservable()">
                        </app-stock-table>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </nb-card-body>
</nb-card>