<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Lista de productos</nb-card-header>
            <nb-card-body>
                <div>
                    <app-products-to-transfer-table (product)="selectProduct($event)"></app-products-to-transfer-table>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label><strong>Cantidad: </strong></label>
                        <input type="number" class="form-control" [(ngModel)]="quantity" min="1">
                    </div>
                    <div class="col-md-8 align-self-end">
                        <button [disabled]="!selectedProduct.id || quantity <= 0" class="btn btn-primary mr-1"
                            (click)="addOrSubtractStock()">Agregar</button>
                        <button [disabled]="canSubtract == false || !selectedProduct.id || quantity <= 0"
                            class="btn btn-secondary" (click)="addOrSubtractStock(true)">Quitar</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Stock</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <input [hidden]="stocks.length == 0 && searchIsEmpty == true" type="text" #searchRef
                            class="form-control mb-3" placeholder="Buscar producto">
                    </div>
                </div>
                <div *ngIf="stocks.length == 0 && searchIsEmpty == false" class="alert alert-primary text-center mb-0"
                    role="alert">
                    <strong>La búsqueda no generó resultados.</strong>
                </div>
                <div>
                    <app-stock-products-table [stocks]="stocks"></app-stock-products-table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>