<div class="header">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item active">Código</li>
                <li class="list-group-item">{{sale.code}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item active">Tipo</li>
                <li class="list-group-item">{{saleType}}</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item active">NIT</li>
                <li class="list-group-item">{{clientNit}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Cliente</li>
                <li class="list-group-item">{{clientName}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Fecha</li>
                <li class="list-group-item">{{sale.date | date: 'dd/MM/yyyy HH:mm:ss'}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-body">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [gridOptions]="gridOptions"
        [columnDefs]="columnDefs" [rowData]="saleDetails">
    </ag-grid-angular>
    <div class="align mt-2">
        <span class="badge badge-pill badge-primary">Monto total: {{totalCost}} Bs.</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cerrar</button>
</div>